# Cache
*.pyc
__pycache__

# Build
build/*
dist/*
*.egg-info/*
*.egg-info
*.whl

# Build - Docs
documentation/build/*
documentation/source/_autosummary

# Logs
*.log

# Packaging
packaging/**/pkg
packaging/**/src
packaging/**/*.tar*
packaging/**/python-pyrunning-git/python-pyrunning
packaging/**/python-pyrunning/python-pyrunning*

# VSCode
.vscode
